.main{
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    box-shadow: 0 15px 40px rgba(0,0,0,.1);
    &--fixed{
        position: fixed;
        top: 0;
        left: 0;
        bottom: auto;
    }

    &__navigation{
        &-list{
            margin: 0 1rem 0 1rem;
            font-size: 1.2rem;
            font-weight: 800;
            &__item{ 
                &-link{
                    display: inline-block;
                    color: $nav-font;
                    text-decoration: none;
                    transition: all .24s ease-in;
                    &:hover{
                     transform: scale(1.2);
                      }
                }
            }
        }
     
    }
    .logo{
        width: 8rem;
        margin: 0 1rem 0 1rem;
        height: auto;
        transition: all .24s ease-in;
        &:hover{
            transform: scale(1.2);
        }
    }
}
.flight-info{
    margin: 6rem auto;
    height: 600px;
    max-width: 960px;
    background-color: $white;
    &__title{
        padding: 1.5rem 0 1rem 0;
        font-size: 2.5rem;
        color: $font;
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
    }
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 100%;
    background-color: $footer;
    color: $white;
    &__copyright{
        font-size: .8rem;
        opacity: .5;
    }
}

