body{    
    background-color: $login-bg;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.login-form{
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: 1.5rem;
    margin: .5rem;
    &__username, &__password{
        outline: none;
        border: 2px solid $border;
        margin: 0.5rem 0;
        padding: 1rem;
        color: $font;
    }
    &__cta{
        padding: 1rem 2rem;
        color: $white;
        background-color: $pink-cta;
        text-transform: uppercase;
        border: none;
        font-size: 1em;
        font-weight: 600;
        cursor: pointer;
        transition: all .24s ease-in;
        &:hover{
            background-color: $pink-cta-hover;
        }
    }
    &__error-message{
        display: flex;
        text-align: center;
        margin-top: 1.5rem;
        color: $error;
        animation: bounce .3s infinite alternate;
        animation-fill-mode: both;
    }
    @keyframes bounce {
        from {
          transform: translateY(0px);
        }
        to {
          transform: translateY(-15px);
        }
      }
}

