html,body,.container{
    background-color: $login-bg;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.login-form{
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: 2rem;
    &__username, &__password{
        outline: none;
        border: 2px solid $border;
        margin: 0.5rem 0;
        padding: 1.2rem;
        color: $font;
    }
    &__cta{
        padding: 1rem 2rem;
        color: $white;
        background-color: $pink-cta;
        text-transform: uppercase;
        border: none;
        font-size: 1.2em;
        font-weight: 600;
        cursor: pointer;
        transition: all .24s ease-in;
        &:hover{
            background-color: $pink-cta-hover;
        }
    }
    &__error-message{
        display: flex;
        text-align: center;
        margin: 1rem 0;
        color: $error;
    }
}

