// login screen
$login-bg: #24007f;
// dashboard screen 
$dashboard-bg: #fcfcfc;
// footer
$footer: #29203f;
// default cta & its hover state
$pink-cta: #ff0057;
$pink-cta-hover: #e80C57;
// default font
$font: #29203f;
// default error
$error: #CC0400;
// default nav-font
$nav-font: #24007f;
// default border
$border: #29203f;
// default placeholder: 
$placeholder: #ccc;
// default background
$white: #fcfcfc;